/* 
    Document   : style.css
    Created on : 12-Nov-2010, 11:45:09
    Author     : Aquarion
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
